<?xml version='1.0' encoding='utf-8'?>
<widget id="com.indooratlas.cordovaExamples" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IACordova</name>
    <description>
        Examples for IndoorAtlas Cordova Plugin
    </description>
    <author email="contact@indooratlas.com" href="http://indooratlas.com">
        IndoorAtlas
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="www/img/android/mdpi.png" />
        <icon density="hdpi" src="www/img/android/hdpi.png" />
        <icon density="xhdpi" src="www/img/android/xhdpi.png" />
        <icon density="xxhdpi" src="www/img/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/img/android/xxxhdpi.png" />
        <preference name="android-buildToolsVersion" value="32.0.0" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-compileSdkVersion" value="31" />
        <preference name="android-targetSdkVersion" value="31" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="www/img/ios/Icon-60@3x.png" width="180" />
        <icon height="120" src="www/img/ios/Icon-60@2x.png" width="120" />
        <icon height="76" src="www/img/ios/Icon-76.png" width="76" />
        <icon height="152" src="www/img/ios/Icon-76@2x.png" width="152" />
        <icon height="40" src="www/img/ios/Icon-40.png" width="40" />
        <icon height="80" src="www/img/ios/Icon-40@2x.png" width="80" />
        <icon height="120" src="www/img/ios/Icon-40@2x.png" width="120" />
        <icon height="29" src="www/img/ios/Icon-small.png" width="29" />
        <icon height="58" src="www/img/ios/Icon-small@2x.png" width="58" />
        <icon height="87" src="www/img/ios/Icon-small@3x.png" width="87" />
    </platform>
    <plugin name="cordova-plugin-indooratlas" spec="git+https://github.com/IndoorAtlas/cordova-plugin.git" />
</widget>
