/*
 * IndoorAtlas Cordova Plugin Examples
 * https://github.com/IndoorAtlas/cordova-plugin
 * https://github.com/IndoorAtlas/sdk-cordova-examples
 */

// rename this file to APIKeys.js and insert your API keys

// This can be left blank if you do not want to show Mapbox outdoor maps
// underneath the floor plans. Otherwise get a token at https://www.mapbox.com/
var MAPBOX_ACCESS_TOKEN = "";

// Get IndoorAtlas API Key and Secret from here https://app.indooratlas.com/apps
var IA_API_KEY = '';
var IA_API_SECRET = '';
